.container__about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 159px;
    
    &__section{
        width: 80%;
        margin: auto;
    }

    & ul {
        padding: 0px;
    }

    &__part {
        background: $color-background-secondary;
        border-radius: $border-radius-secondary;
        margin-bottom: 30px;

        & p {
            display: none;
        }

    }
    
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 16px;
        background-color: $color-primary;
        color: $color-text-card;
        border-radius: 5px;
        @include text;

        & span {
            background: url(../../assets/Vector.png);
            @include vector;
        }

    }
    //## Mobile screen ##//

}
.show-text{
    & span {
        background: url(../../assets/Vector-1.png);
        @include vector;
    }

    & p {
        display: inline-block;
        font-weight: 400;
        padding: 0 16px 16px 16px;
        margin: 30px 0;
        
    }
}