.banner {

    //#################//
    //## Banner home ##//
    //#################//

    &__home{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include banner;
        
        & img {
            background: url(../../assets/eric-muhr-P_XxsdVgtpQ-unsplash.png);
            @include background-banner;
        }

        &__text{
            color: white;
            font-size: 48px;
            word-wrap: normal;
            position: absolute;
    
    
            //## Tablet screen ##//
            @include desktop-tablet {
                width: 59%;
                text-align: left;
            }
    
            //## Mobile screen ##//
            @include desktop-mobile {
                font-size: 24px;
                left: 16px;
                width: 217px;
            }
        }

        //## Mobile screen ##//
        @include desktop-mobile {
            height: 111px;

            & img {
                background: url(../../assets/eric-muhr-P_XxsdVgtpQ-unsplash-mobile.png);
                @include background-banner;
                
            }
        }
    }
    
    //##################//
    //## Banner about ##//
    //##################//
    &__about {
        background-repeat: no-repeat;
        @include banner;
        
        & img {
            background: url(../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash2.png);
            @include background-banner;

        }
        
        //## Mobile screen ##//
        @include desktop-mobile {
            height: 223px;
            
            & img {
                background: url(../../assets/gustavo-alves-YOXSC4zRcxw-unsplash1.png);
                @include background-banner;
                background-position: center;
            }
        }
    }

    
}