.banner {

    @include banner;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:initial;

    //#################//
    //## Banner home ##//
    //#################//

    &__home {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 53px;
        @include banner;
        
        & img {
            background: url(../../assets/eric-muhr-P_XxsdVgtpQ-unsplash.png);
            @include background-banner;
        }

        &__text {
            color: white;
            font-size: 48px;
            word-wrap: normal;
            position: absolute;
       
            //## Tablet screen ##//
            @include desktop-tablet {
                width: 59%;
                text-align: left;
            }
    
            //## Mobile screen ##//
            @include desktop-mobile {
                font-size: 24px;
                left: 16px;
                width: 217px;
            }
        }
        
        //## Mobile screen ##//
        @include desktop-mobile {
            height: 111px;
            margin: 0;
            border-radius: $border-radius-primary;
            
            & img {
                background: url(../../assets/eric-muhr-P_XxsdVgtpQ-unsplash-mobile.png);
                @include background-banner;
                border-radius: $border-radius-primary;
            }
        }
    }
    
    //##################//
    //## Banner about ##//
    //##################//
    &__about {
        background-repeat: no-repeat;
        margin-top: 53px;
        @include banner;
        
        & img {
            background: url(../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash2.png);
            @include background-banner;
        }
        
        //## Mobile screen ##//
        @include desktop-mobile {
            height: 223px;
            margin-top: 0;
            
            & img {
                background: url(../../assets/gustavo-alves-YOXSC4zRcxw-unsplash1.png);
                @include background-banner;
                background-position: center;
            }
        }
    }
}