.container__collapse {

    //##############################//
    //### Collapse Accommodation ###//
    //##############################//
    
    &__all-part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 75px;
        align-items: baseline;
        
        //###### Mobile screen ######//
        @include desktop-tablet {
            order: 1;
            grid-template-columns: none;
        }
        
        @include desktop-mobile {
            order: 1;
            grid-template-columns: none;
        }
    }
    
    //##############################//
    //######## All Collapse ########//
    //##############################//
    
    &__part {
        @include flex-column;
        justify-content: space-evenly;
        
        & p {
            visibility: collapse;
            font-size: $font-size-primary;
            @include text-collapse;
            list-style: none;
            padding: 0px;
        }
    }
    
    &__btn-text {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px 16px;
        background-color: $color-primary;
        color: $color-text-card;
        border-radius: $border-radius-secondary;
        border-style: none;
        @include text;
        cursor: pointer;
        
        & span {
            background: url(../../assets/Vector.png);
            @include vector;
        }
        
        //####### Mobile screen #######//
        @include desktop-mobile {
            padding: 5.5px 11px;
            font-size: 13px;
            border-radius: $border-radius-secondary;
            
            & span {
                @include vector-mobile;
            }
        }
    }
}

//##############################//
//## All Collapse text visual ##//
//##############################//

.show-text {
    height: max-content;
    
    & button {
        margin: 0;
    }
    
    & span {
        @include vector;
        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    & p {
        visibility: visible;
        @include text-collapse;
        height: max-content;
        margin: 0 0 20px;
        animation: fade-in-top 0.4s cubic-bezier(0.390,0.575, 0.565, 1.000) both;
    }

    //####### Mobile screen #######//
    @include desktop-mobile {
        & span {
            @include vector-mobile;
        }

        & p {
            font-size: $font-size-secondary;
            padding: 24px 11px;
        }
    }
}