.container__404 {
        @include flex-column;
        align-items: center;
        margin-top: 130px;

    &__title {
        font-size: 288px;
        font-weight: 700;
        margin: 0;
    }

    &__text {
        font-size: 36px;
        margin-top: 25px;
    }

    &__url {
        text-decoration: underline;
        font-size: $font-size-primary;
        margin: 150px 0 159px;
    }

    //## Mobile screen ##//
    @include desktop-mobile {
        margin-top: 165px;
        
        &__title {
            font-size: 96px;
        }

        &__text {
            font-size: $font-size-primary;
            width: 260px;
            text-align: center;
            margin: 0;
        }

        &__url {
            font-size: $font-size-tertiary;
            margin: 133px 0 235px;
        }
    }
}