.container__about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 31px auto 159px;
    width: 80%;

    //## Mobile screen ##//
    @include desktop-mobile {
        width: 100%;
    }

}
