
.container__accommodation {

    //#####################//
    //##### Carrousel #####//
    //#####################//

    &__carrousel {
        position: relative;
        height: 415px;

        &__picture {
            width: 100%;
            height: 415px;
            object-fit: cover;
            border-radius: $border-radius-tertiary;
        }

        &__previous, &__next {
            position: absolute;
            top: 156px;
            width: 47px;
            height: 80px;
        }

        &__previous {
            left: 23px;
        }

        &__next {
            right: 23px;
        }

        //## Mobile screen ##//
        @include desktop-mobile{
            height: 255px;

            &__picture {
                height: 255px;
                border-radius: $border-radius-primary;
            }

            &__previous, &__next {
                top: 118px;
                width: 12px;
                height: 20px;
            }
            &__previous-arrow, &__next-arrow{
                width: 100%;
            }
        }
    }

    //######################//
    //## Title / Location ##//
    //######################//
    
    &__info {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    &__title {
      font-size: 36px;  
      font-weight: 500;
      margin-bottom: 0px;
      width: 80%;
    }
    
    &__location {
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
    }

    //## Mobile screen ##//
    @include desktop-mobile {
        &__title {
            font-size: 18px;
        }

        &__location {
            font-size: 14px;
        }
    }
    
    //######################//
    //######## Host ########//
    //######################//
    
    //## Host name & picture ##//
    
    &__host {
        position: absolute;
        right: 0px;
        text-align: end;
        width: 200px;
        
        & p {
            display: flex;
            align-items: center;
            
        }
        
        &__picture {
            width: 64px;
            border-radius: 50%;
            padding-left: 10px;
        }

        //## Mobile tablet ##//
        @include desktop-tablet {
            @include host-responsive;
        }


        //## Mobile screen ##//
        @include desktop-mobile {
            @include host-responsive;

            & p {
                font-size: 12px;
                width: 100px;
            }

            &__picture {
                width: 32px;
            }

        }
    }
    
    //## Ratings ##//
    
    &__ratings {
            background: url(../../assets/Rating.png);
            @include ratings;
        }
    &__ratings-color {
        background: url(../../assets/Rating.png);
        @include ratings;
    }

    //## Mobile screen ##//
    &__ratings, &__ratings-color {
        @include desktop-mobile{
            @include ratings-mobile;
        }
    }
    
    //######################//
    //######## Tags ########//
    //######################//
    
    &__tags {
    display: flex;
    flex-direction: row;
    list-style: none;

        & li {
            border-radius: $border-radius-primary;
            background-color: $color-primary;
            color: $color-text-card;
            font-size: 14px;
            padding: 3px 22px;
            margin-right: 10px;
            
        }
    //## Mobile screen ##//
    @include desktop-mobile {
        flex-wrap: wrap;
        margin: 10px 0 0;

        & li {
            font-size: 10px;
            border-radius: $border-radius-secondary;
            margin-bottom: 10px;
        }
    }
        
    }
}