//#####################//
//## Section Gallery ##//
//#####################//

.gallery {
    background: $color-background-secondary;
    border-radius: $border-radius-tertiary;
    margin-top: 43px;
    padding: 30px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    
    //### Mobile screen ###//
    @include desktop-mobile {
        background: none;
        margin-top: 10px;
        padding: 0 ;
    }
}

.card_logement {
    display: flex;
    transition: 0.3s;
    width: 340px;
    height: 340px;
    margin: 25px 0.666%;
    border-radius: $border-radius-primary;
    
    & span {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: $border-radius-primary;
    }

    & img {
        border-radius: $border-radius-primary;
        width: 100%;
        position: relative;
        object-fit: cover;
        z-index: 1;
    }
    
    & p {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 5%;
        bottom: 5%;
        color: $color-text-card;
        font-size: $font-size-primary;
        z-index: 2;
    }
    
    &_link {
        text-decoration: none;
    }
    
    //### Mobile tablet ###//
    @include desktop-tablet {
        margin: 20px 0.666%;
    }

    //### Mobile screen ###//
    @include desktop-mobile {
        width: 335px;
        height: 255px;
        margin: 10px 0;
    }
}

//#####################//
//## Component Cards ##//
//#####################//

.product {
    display: flex;
    position: relative;
    border-radius: $border-radius-primary;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;

    & img {
        background: black
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
}