body{
    position: relative;
    color: $color-primary;
    @include text;
    margin: 10px 100px 0;
    @include desktop;

    //## Mobile screen ##//
    @include desktop-mobile{
        margin: 10px 20px 0;
    }
}

//##########//

ul{
    list-style: none;
}

//##########//

a{
    text-decoration: none;
    color: $color-primary;
}
