body{
    position: relative;
    color: $color-primary;
    @include text;
    margin: 10px auto 0;
    @include desktop;
    max-width: 1440px;
    //padding: 0 100px 0;

    //## Mobile screen ##//
    @include desktop-mobile {
        margin: 10px 20px 0;
        padding: 0;
    }
}

.body-page {
    padding: 0 100px 0;

    @include desktop-mobile{
        padding: 0;
    }
}

//##########//

ul{
    list-style: none;
}

//##########//

a{
    text-decoration: none;
    color: $color-primary;
}
