@import './Utils/variables.scss';
@import './Utils/mixins.scss';
@import './Utils/pages.scss';
@import './Components/footer';
@import './Components/navbar';
@import './Components/banner';
@import './/Components/galleryHome';
@import './Components/404error';
@import './Components/about';