//############################//
//## Animation Gallery Home ##//
//############################//

@-webkit-keyframes shadow-drop-br {
0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
100% {
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
}
}
@keyframes shadow-drop-br {
0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
100% {
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
}
}


//##############################//
//## Animation Collapse About ##//
//##############################//

//######### Flip span #########//

@-webkit-keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
}
}
@keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

//######### Fade text #########//

//############ IN ############//

@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
        background: $color-background-secondary;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        background: $color-background-secondary;
    }
}
@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
        background: $color-background-secondary;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        background: $color-background-secondary;
    }
}

//########### OUT ###########//

@-webkit-keyframes fade-out-top {
0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    background: $color-background-secondary;
}
100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
    background: $color-background-secondary;
    height: 0px;
}
}
@keyframes fade-out-top {
0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    background: $color-background-secondary;
}
100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
    background: $color-background-secondary;
    height: 0px;
}
}
  

//#############//
//##  ##//
//#############//

 @-webkit-keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
