//############//
//##  Color ##//
//############//

$color-primary: #FF6060;
$color-text-card: #FFFFFF;
$color-background: #E5E5E5;
$color-footer: black;
$color-background-secondary: #F7F7F7;

$border-radius-primary: 10px;
$border-radius-secondary: 5px;


$breakpoints: (desktop: 1440px);
$breakpoints-mobile:(mobile: 375px);