//############//
//##  Color ##//
//############//

$color-primary: #FF6060;
$color-text-card: #FFFFFF;
$color-background: #E5E5E5;
$color-background-banner: rgba(0, 0, 0, 0.301);
$color-background-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$color-footer: black;
$color-background-secondary: #F7F7F7;

//####################//
//##  Border-radius ##//
//####################//

$border-radius-primary: 10px;
$border-radius-secondary: 5px;
$border-radius-tertiary: 25px;


//###################//
//##  Breackpoints ##//
//###################//

$breakpoints: (desktop: 1440px);
$breackpoints-tablet: (tablet: 1023px);
$breakpoints-mobile:(mobile: 767px);
