footer {
    background-color: $color-footer;
    @include flex-column;
    align-items:center;
    justify-content: flex-end;
    margin-top: 43px;
    padding: 10px;
    height: 175px;
    line-height: 142.6%;

    & p {
        color: $color-text-card;
    }
        
    //## Mobile screen ##//
    @include desktop-mobile {
        justify-content: center;
        margin: 43px -20px;

        & p {
            font-size: $font-size-secondary;
        }
    }
}