
//################//
//##### Logo #####//
//################//

.logo {
    width: 210.32px;
    height: 68px;
    
    //## Mobile screen ##//
    @include desktop-mobile {
        width: 145px;
        height: 47px;

        & img {
            width: 100%;
        }
    }
}

//################//
//## Navigation ##//
//################//

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto 20px;
    width: 100%;  
    height: 68px;  
    
    &__nav {
        display: flex;
        justify-content: flex-end;
        color: $color-primary;
        font-size: 24px;
        width: 30%;

        & h5 {
            padding-left: 57px;
            font-weight: 500;
            font-size: 24px;
            width: max-content;
        }
        
        //## Tablet screen ##//
        @include desktop-tablet {
            width: 40%;
        }

        //## Mobile screen ##//
        @include desktop-mobile {
            font-size: $font-size-secondary;
            text-transform: uppercase;
            width: auto;
            
            & h5 {
                padding-left: 15px;
                font-size: $font-size-secondary;
            }
        }
    }
    
    //## Mobile screen ##//
    @include desktop-mobile {
        margin: 10px auto;
    }
}

.home:hover, .about:hover{
    text-decoration: underline;
}